Thumbs.db
*~
.*.swp
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
packages/*
TRIGO.AntiFog.WebSite/BuildArtifacts/Package/*
*TestResult.*
messages.po~
Html-AntiFog.Specificifications
phantomjs.exe.1.8.0
filelist.tmp.txt
filelist.analysis.tmp.txt
TRIGO.AntiFog.WebSite/App_Data/TRIGO.AntiFog.DAO.Shared.AntiFogDbContext*
TRIGO.AntiFog.WebSite/App_Data/TRIGO.AntiFog.DAO.Shared.AntiFogDbContext.mdf
TRIGO.AntiFog.WebSite/App_Data/TRIGO.AntiFog.DAO.Shared.AntiFogDbContext.mdf
TRIGO.AntiFog.WebSite/App_Data/TRIGO.AntiFog.DAO.Shared.AntiFogDbContext_log.ldf
UpgradeLog.XML
UpgradeLog.htm
_UpgradeReport_Files*/
TRIGO.AntiFog.WebSite/Models/locale/fr.po.orig
TRIGO.AntiFog.WebSite/Scripts/libs/jquery.validate.min.js.map
*.orig
*VisualState.xml
TRIGO.AntiFog.WebSite/locale/*.mo
TRIGO.AntiFog.WebSite/locale/Analysis/*.mo
*.playlist
commitmsg
copos
csx/
rcf/
Downloaded Profiling Logs/

